.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(22, 41, 107, 0.12);
    border-radius: 16px;
    padding: 8px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
    text-align: center;
    height: 100dvh;
    min-height: 500px;

    a{
        width: fit-content;
        text-decoration: none;
        color: #fff;
        transition: transform 200ms ease-in-out;
    }
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    background: rgba(22, 41, 107, 0.08);
    padding: 24px;
    border-radius: 18px;
}

.skill-tag {
    background: transparent;
    color: #fff;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 12px;
    display: inline-block;
    font-size: 1rem;
}